body {
  color: black;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}
h1 {
  text-align: center;;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #E849B1;
  border-radius: 5px;
  text-align: center;
}
.outerBox{
  border: 10px solid #E849B1;
  background-color: #F4BFFF;
  padding: 50px;
}
input[type=text] {
   width: 400px;
   height: 50px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   border: 8px solid #E849B1

}
.nameBox{
  width: 300px;
  height: 200px;
}

.nav-bar {
  font-family: 'Voltaire', sans-serif;
  border: 5px solid #289976; <!--TEAL-->
  border-radius: 7px;
  text-align: center;
}
.nav-bar a {
  display: inline-block;
  width:30%;
  padding:0;
  margin:0;
  text-decoration: none;
  font-size:1.5em;
  color: #67CC8E;     <!--GREEN-->
}

a:hover{
  color: #B1FF91;   <!--PEPPERMINT-->
}

.time{
   color: #FFE877;

 }
