body {
  background-color: #51d197; /*DINO BODY GREEN*/
}
header{
  margin: auto;
  width:80%;
}
.logo{
  background-image: image(Logo.png);
  display: block;
  margin: auto;
}
.idea-box { /*post html*/
  position: absolute;
  background-color: #bdf7b7; /*DINO BELLY GREEN*/
  padding: 0;
  top: 30%;
  left: 0;
  right: 0;
  width: 60%;
  margin:auto;
  border: 5px solid #de7070; /*DUSTY ROSE*/
}

h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.outerBox{
  position:absolute;
  top: 30%;
  left: 0;
  right: 0;
  border-radius: 10% 10% 10% 10%;
  border: 5px solid #de7070; /*DUSTY ROSE*/
  width:60%;
  margin:auto;
  padding:2%;
  background-color: #bdf7b7; /*DINO BELLY GREEN*/
}

.outerBoxGuts{
  display: flex;
  justify-content: center;
}

.outerBoxIntestines{
  display: flex;
  justify-content:space-between;
}

input[type=text] {
   width: 400px;
   height: 50px;
   padding:10px;
   border: 5px solid #de7070; /*DUSTY ROSE*/
   margin:10px;
   font-family: 'Voltaire', sans-serif;
   font-size: 1.5em;
}
.nameBox{
  width: 300px;
  height: 200px;
}

.nav-bar {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Voltaire', sans-serif;
  border: 5px solid #de7070; /*DUSTY ROSE*/
  text-align: center;
  width:70%;
  background-color: #bdf7b7; /*DINO BELLY GREEN*/
  padding: 5;
}
.nav-bar a {
  display: inline-block;
  width:30%;
  padding:0;
  margin:0;
  text-decoration: none;
  font-size:1.5em;
  color: #de7070;     /*DUSTY ROSE*/
}

a:hover{
  color: #ffe14f;   /*YELLOW*/
}

.dinosaur {
  width: 50%;
  height: 50%;
}
.time{
   color: #de7070;
   font-family: 'Voltaire', sans-serif;     /*DUSTY ROSE*/
 }
.postbuttons {
  background-color: #51d197;   /*DINO BODY GREEN*/
  color:#de7070;   /*DUSTY ROSE*/
  border-color: #de7070;               /*DUSTY ROSE*/
  border-style: solid;
  font-family: 'Voltaire', sans-serif;
  width:20%;
  font-size: 2em;
}

 .container {
   display: flex;
 }

.quickpic {
  margin:20px;
  display:block;
  height:100px;
  border: solid 3px #de7070; /*DUSTY ROSE*/
  border-radius: 10% 10% 10% 10%;
}

.mainNotificationShell  {
   position: absolute;
   top: 30%;
   width: 100%;
   text-align: center;
}

.mainNotification {
   display: inline-block;
   padding: 10px 20px;
   margin: 0 auto;
   max-width: 50%;
   background-color: #51d197; /*DINO BODY GREEN*/
   color: #FFFFFF;
   font-size: 100px;
   border-color: #de7070; /*DUSTY PINK*/
   border-style: solid;
   border-radius: 10% 10% 10% 10%;
}
